@import "tailwindcss";

:root {
  --background-start: #fdf2f8;  /* Rose très clair */
  --background-end: #f3e8ff;    /* Violet très clair */
  --foreground: #1e293b;        /* Gris foncé */
}

@theme inline {
  --color-background: linear-gradient(
    to bottom right,
    var(--background-start),
    var(--background-end)
  );
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}


body {
  background: var(--color-background);
  color: var(--foreground);
  min-height: 100vh;
  background-attachment: fixed;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

